@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}
header .topNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    background-color: rgb(185, 226, 241);
    font-size: 15px;
}
.topNav select{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.topNav span a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.topNav span a:hover, .topNav select:hover{
    color: grey;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    font-weight: 500;
    margin-right: -120px;
}
nav ul li{
    display: flex;
    align-items: center;
    position: relative;
}
nav ul li #saleTag{
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: normal;
    font-size: 8px;
    padding:4px;
    position: absolute;
    top: -15px;
    right: 0;
}
nav ul li #newTag{
    background-color: red;
    color: white;
    border-radius: 5px;
    font-weight: normal;
    font-size: 8px;
    padding:4px;
    position: absolute;
    top: -15px;
    right: 0;
}
nav .logo{
    width: 300px;
}
nav .accountProfile{
    display: flex;
    gap: 20px;
}
.hero{
    padding: 90px 120px;
    background-image: url(../images/mainBG1.jpg);
    background-repeat: no-repeat;
    background-position:center right;
    background-size: contain;
    background-color: #F8F8F8;
}
.hero h1{
    font-size: 55px;
    line-height: 1.3em;
    width: 635px;
}
.jacketDivHero{
    display: flex;
    gap: 35px;
    margin: 40px 0px;
}
.jacketDivHero .jacketContent>p{
    color: #706a6a;
    width: 515px;
    line-height: 1.4em;
}
.jacketDivHero .jacketContent .shopCollectBtn{
    display: inline-block;
    font-size: 18px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 35px;
    margin: 70px 0px;
    transition: all 0.3s ease;
}
.jacketContent .shopCollectBtn:hover{
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.jeanBy{
    display: inline-block;
}
.jeanBy p{
    font-weight: bold;
    font-size: 14px;
    margin: 8px 0px;
}
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    gap: 40px;
}
.features>div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.features .featureContent p{
    color: rgb(110, 107, 107);
    margin-top: 5px;
}
.shopCategory{
    padding: 90px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shopCategory h2{
    font-size: 35px;
    font-weight: 600;
}
.shopCategory p{
    width: 400px;
    margin: 20px 0px;
    color: #706a6a;
    line-height: 1.4em;
    text-align: center;
}
.carousel{
    display: flex;
    gap:30px;
    margin: 15px 0px;
}
.carousel .imgDiv{
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
}
.carousel div img{
    width: 250px;
}
.carousel .item{
    text-align: center;
}
.item .caption{
    margin-top: 15px;
}
.item .caption b{
    font-weight: 500;
}
.item .caption span{
    font-size: 10px;
    position: relative;
    top: -4px;
    right: -2px;
}
.item .imgDiv img{
    transition: all 0.3s ease;
}
.carousel .item:hover img{
    transform: scale(1.1);
}
.hotCollections{
    background-color: #F8F8F8;
    padding: 80px 120px;
}
.hotCollections>h2{
    text-align: center;
    font-size: 30px; 
    font-weight: 600;
}
.hotCollections>p{
    text-align: center;
    color: rgb(102, 99, 99);
    margin: 20px auto;
    width: 370px;
    line-height: 1.4em;
}
.collectionDiv .item{
    position: relative;
}
.item #newBtn{
    position: absolute;
    display: inline-block;
    color: white;
    background-color: black;
    font-size: 11px;  
    padding: 3px 8px; 
    border-radius: 3px; 
    top: 20px; 
    left: 20px; 
}
.item .favouriteBtn{
    position: absolute;
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px; 
    top: 20px;
    right: 20px;
    transform: rotateY(90deg);
    transition: all 0.3s ease;
}
.item .compare{
    position: absolute;
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px; 
    top: 70px;
    right: 20px;
    transform: rotateY(90deg);
    transition: all 0.3s ease;

}
.item .selectOpt{
    position: absolute;
    right: 42px;
    bottom: 110px;
    display: inline-block;
    color: white;
    background-color: black;
    padding: 10px 60px;
    border-radius: 5px; 
    transform: translateY(58px);
    transition: all 0.3s ease;
}
.item .cartPara{
    position: absolute;
    color: white;   
    bottom: 74px;
    left: 47%;
    transition: all 0.3s ease;
}
.selectOpt p{
    transition: all 0.3s ease;
}
.item .selectOpt:hover ~.cartPara{
    bottom: 118px;
}
.collectionDiv .item:hover .favouriteBtn,.collectionDiv .item:hover .compare{
    transform: rotateY(0deg);
}
.collectionDiv .item:hover .selectOpt{
    transform: translateY(0px);
}
.item .selectOpt:hover p{
    transform: translateY(-28px);
}
.collectionDiv .item .itemImg img{ 
    width: 340px;
    border-radius: 10px;
}
.hotCollections .collectionDiv{ 
    display: flex;
    gap: 40px; 
    justify-content:center;
    flex-wrap: wrap;
    margin: 50px auto;
    margin-bottom: 0px;
}
.item .itemContents{
    padding: 8px 0px;
    background-color: #f8f8f8;
    z-index: 1;
    position: relative;
}
.item .itemContents h3{
    font-weight: 500; 
}
.item .itemContents>p{
    font-size: 14px; 
    margin: 5px 0px; 
}
.itemContents p img{
    height: 16px;
}
.brandStory{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}
.brandStory .leftStory{
    width: 430px;
    overflow: hidden;
    border-radius: 10px;
}
.leftStory video{
    position: relative;
    right: 150px;
}
.brandStory .rightStory{
    width: 40%;
    position: relative;
    padding: 130px 0px;
}
.rightStory h2{
    font-size: 50px;
    font-weight: 600;
}
.rightStory #rightPara{
    color: #706a6a;
    line-height: 1.5em;
    margin: 35px 0px;
}
.rightStory .dateTag{
    color: #706a6a;
    display: inline-block;
    transform: rotate(-90deg);
    position: absolute;
    top: 98px;
    right: -20px;
}
.rightStory .viewStoryBtn{
    color: white;
    background-color: black;
    display: inline-block;
    border: 2px solid black;
    border-radius: 6px;
    padding: 15px 45px;
    transition: all 0.3s ease;
}
.viewStoryBtn:hover{
    background-color: transparent;
    color: black;
    cursor: pointer;
}
.jacketDiv{
    display: flex;
    justify-content: center;
    padding: 25px 200px;  
    background-color: #f8f8f8; 
}
.jacketDiv .leftJacket{ 
    width: 50%;
    padding: 70px 0px;
}
.leftJacket h2{
    font-size: 50px;
    font-weight: 600;
}
.leftJacket #jacketPara{
    color: #5b5858;
    line-height: 1.5em;
    width: 410px;
    margin-top: 35px;
}
.leftJacket .storyBtn{
    color: white;
    background-color: black;
    display: inline-block;
    border: 2px solid black;
    border-radius: 6px;
    padding: 15px 45px;
    transition: all 0.3s ease;
    font-size: 16px;
    margin-top: 120px;
}
.leftJacket .storyBtn:hover{
    cursor: pointer;
    background-color: transparent;
    color: black;
}
.jacketDiv .rightJacket{
    width: 50%;
    position: relative;
    text-align: end;
}
.rightJacket #floatImg{
    position: absolute;
    top: 120px;
    left: -124px;
    border-radius: 5px;
}
.hotSellProduct{
    padding: 50px 200px;

}
.hotSellProduct .headToSell{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    align-items: center;
}
.headToSell h2{
    font-size: 35px;
    font-weight: 600;
}
.headToSell h2:hover{
    cursor: default;
}
.headToSell p{
    background-color: black;
    color: white;
    padding: 10px 10px 10px 14px;
    border-radius: 50%;
}
.hotSellProduct .shirtsDiv{
    display: flex;
    gap: 40px;
    overflow-x: auto;
}
.shirtsDiv::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.tShirtCont{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0px;
    position: relative;
    z-index: 100;
    background-color: white;
}
.tShirtDiv{
    position: relative;
}
.tShirtDiv .tShirtCont h3{
    font-size: 20px;
    font-weight: 500;
}
.tShirtDiv .tShirtCont p{
    font-size: 15px;
    font-weight: 300;
}
.tShirtDiv .tShirtCont p img{
    height: 18px;
}
.tShirtDiv .favouriteBtn{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 10px;
    transform: rotateY(90deg);
    transition: all 0.3s ease;
}
.tShirtDiv .compare{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 7px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 10px;
    transform: rotateY(90deg);
    transition: all 0.3s ease;
}
.tShirtDiv .selectOpt{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    position: absolute;
    bottom: 100px;
    left: 40px;
    transform: translateY(43px);
    transition: all 0.3s ease;
}
.tShirtDiv:hover .favouriteBtn, .tShirtDiv:hover .compare{
    transform: rotateY(0deg);
}
.tShirtDiv:hover .selectOpt{
    transform: translateY(0px);
}



.reviewDiv{
    height: 615px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    background-color: #F8F8F8;
    padding: 0px 120px;
    position: relative;
}
.reviewDiv p img{
    height: 20px;
}
.reviewDiv p b{
    font-size: 20px;
    font-weight: 600;
}
.reviewDiv #para{
    font-size: 23px;
    color: gray;
    line-height: 1.5em;
    font-style: italic;
}
.reviewDiv .comma1 img, .comma2 img{
    height: 100px;
    opacity: 0.5;
}
.comma2 img{
    transform: rotate(180deg);
}
.reviewDiv .comma1{
    position: absolute;
    top: 100px;
    right: 90px;
    animation-name: anime;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 2s;
    animation-timing-function: ease;
}
.reviewDiv .comma2{
    position: absolute;
    left: 90px;
    bottom: 91px;
    animation-name: anime;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes anime{
    0%{
            transform: translateY(0px);
    }
    50%{
            transform: translateY(-10px);
        }
    100%{
            transform: translateY(0px);
        }
}
.newsBlog{
    padding: 90px 200px;
}
.newsBlog>h2{
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}
.newsBlog>p{
    color: gray;
    text-align: center;
    width: 380px;
    margin: 20px auto;
    line-height: 1.5em;
}
.newsBlog .blogDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.newsBlog .blogDiv .blogItem{
    width: 340px;
}
.newsBlog .blogDiv .blogItem .imgDiv1{
    background-image: url(../images/blogItem1.jpg);
}
.newsBlog .blogDiv .blogItem .imgDiv2{
    background-image: url(../images/blogItem2.jpg);
}
.newsBlog .blogDiv .blogItem .imgDiv3{
    background-image: url(../images/blogItem3.jpg);
}
.newsBlog .blogDiv .blogItem .imgDiv{
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    position: relative;
}
.blogItem .imgDiv .imgDateTag{
    position: absolute;
    background-color: black;
    color: white;
    padding: 4px 10px;
    border-radius: 3px;
    top: 40px;
    left: 40px;
    transition: all 0.3s ease-in-out;
}
.blogItem .blogContent{
    padding: 25px 0px;
}
.blogItem .blogContent>h3{
    font-size: 24px;
    font-weight: 600;
    width: 300px;
}
.blogItem .blogContent>h3:hover{
    color: grey;
    cursor: pointer;
    transition: all 0.3s ease;
}
.blogItem .blogContent>h3+p{
    color: gray;
    line-height: 1.5em;
    margin: 14px 0px;
    width: 320px;
}
.blogContent #paraContent{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(77, 75, 75);
    margin-bottom: 14px;
}
.blogContent #paraContent b{
    font-size: 15px;
    font-weight: normal;
}
.blogContent a{
    color: black;
    font-weight: 500;
}
.blogContent a:hover{
    color: grey;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.blogItem:hover .imgDateTag{
    top: 0;
    left: 0;
}
.newsletter{
    padding: 40px 80px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter .signUpDiv h2{
    font-size: 35px;
    font-weight: 600;
}
.newsletter .signUpDiv p{
    font-size: 15px;
    color: gray;
    margin-top: 14px;
}
.newsletter .form{
    position: relative;
}
.newsletter .form .arrowBtn{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 30px;
    color: gray;
}
.newsletter .form input{
    font-size: 15px;
    padding: 15px 40px;
    border: none;
    width: 350px;
    border-radius: 5px;
}
footer{
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
}
footer .firstFooter>img+p{
    color: gray;
    line-height: 1.5em;
    width: 270px;
    margin: 30px 0px;
    font-size: 15px;
}
footer .firstFooter img{
    width: 120px;
    margin-top: 20px;
    cursor: pointer;
}
footer .firstFooter p:last-child{
    font-weight: bold;
    font-size: 15px;
    cursor:default;
}
footer .firstFooter p b:hover{
    color: gray;
    cursor: pointer;
    transition: all 0.3s ease;
}
footer h3{
    margin: 30px 0px;
    font-size: 20px;
    font-weight: 600;
}
footer ul{
    list-style: none;
    font-size: 15px;
    font-weight: 350;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer ul li:hover{
    color: gray;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.bottomFooter{
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottomFooter p{
    color: grey;
}
.bottomFooter p a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
.bottomFooter p a:hover{
    color: rgb(123, 123, 123);
}
.bottomFooter .paymentCards{
    display: flex;
    align-items: center;
    gap: 18px;
}
